<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>个人博客</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/common.css' />
  </head>
  <body>