<% include header.ejs %>
<% include nav.ejs %>
	<div class="container">
		
	</div>
	<link rel='stylesheet' href='/stylesheets/nav.css' />
	<link rel='stylesheet' href='/stylesheets/home.css' />
	<script src="/libs/jquery-2.2.4.min.js"></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/modal.js"></script>
<% include modal.ejs %>
<% include footer.ejs %>