<div class="modal scale fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>提示</h3>
			</div>
			<form class="form-horizontal" name="form4">
				<div class="modal-body" id="message"></div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
	</div>
</div>