<div class="nav-header dropdown">
	<img src="/images/logo.png" />
	<ul class="inline-block m-b-none p-b-none">
		<li class="navItem choosed-nav">home</li>
		<li class="navItem">blog</li>
		<li class="navItem">setting</li>
	</ul>
	<div class="user-image dropdown-toggle" style="background-image:url('/images/user.jpg');background-position: center;background-repeat: no-repeat">
	</div>
	 <ul class="dropdown-menu" style="margin-left: -5rem;text-align: center">
		<li id="logout" class="setting">登出</li>
	</ul>
	<button class="btn btn-rounded btn-blue blog">写博客</button>
</div>